/* 弹窗遮罩层 */
.modal-overlay {
  position: fixed; /* 固定定位，使遮罩层始终覆盖整个屏幕 */
  top: 0; /* 遮罩层从页面顶部开始 */
  left: 0; /* 遮罩层从页面左侧开始 */
  width: 100%; /* 宽度设置为100%，覆盖整个屏幕 */
  height: 100%; /* 高度设置为100%，覆盖整个屏幕 */
  display: flex; /* 使用弹性布局，便于居中弹窗内容 */
  justify-content: center; /* 水平居中弹窗内容 */
  align-items: center; /* 垂直居中弹窗内容 */
  z-index: 1000; /* 设置较高的堆叠顺序，确保遮罩层在其他元素上方 */
}

/* 弹窗内容 */
.modal-content {
    position: relative;
    background: #fff; /* 弹窗的背景颜色设置为白色 */
    border-radius: 30px; /* 设置圆角，提升视觉美感 */
    padding: 25px; /* 添加内边距，使内容与边框保持距离 */
    width: 360px; /* 弹窗的固定宽度 */
    height: 345px;
    left: -204px;
    top: -44px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 添加阴影，使弹窗看起来有立体感 */
  }
  
  /* 弹窗标题 */
  .modal-content h3 {
    margin-bottom: 20px; /* 标题下方的外边距，用于分隔标题和内容 */
    font-size: 14px;
  }
  
  /* 外层容器样式 */
  .regions {
    display: flex; /* 使用 flex 布局 */
    flex-wrap: wrap; /* 允许换行 */
    justify-content: center; /* 水平居中对齐 */
    row-gap: 10px; /* 按钮之间的间距 */
    margin-top: 20px; /* 添加顶部间距 */
  }
  
  /* 按钮样式 */
  .regions button {
    display: flex; /* 使用 flex 布局 */
    flex-direction: column; /* 垂直排列内容 */
    justify-content: center; /* 垂直居中对齐 */
    width: 120px; /* 按钮固定宽度 */
    height: 150px; /* 按钮固定高度 */
    padding: 5px; /* 内边距 */
    background-color: transparent; /* 按钮背景色 */
    border: none; /* 去掉按钮边框 */
    border-radius: 16px; /* 设置圆角 */
    cursor: pointer; /* 鼠标悬停显示手型指针 */
    transition: background-color 0.2s ease; /* 背景色变化动画 */
  }
  
  /* 按钮中的图片样式 */
  .regions button img {
    width: 105px; /* 图片宽度 */
    height: 105px; /* 图片高度 */
    align-self: center;
    border-radius: 16px;
    margin-top: -5px;
    margin-bottom: 5px; /* 图片和文字的间距 */
    transition: transform 0.2s ease; /* 放大动画 */
    border: 0.5px solid #ccc; /* 边框宽度为 1px，颜色为浅灰色 */
  }
  
  /* 按钮中的文字样式 */
  .regions button span {
    font-size: 14px; /* 文字大小 */
    color: #333; /* 文字颜色 */
    text-align: left; /* 设置文字左对齐 */
    margin-left: 5px;
  }
  
  /* 鼠标悬停时按钮样式 */
  .regions button:hover {
    background-color: #f0f0f0; /* 改变背景颜色 */
  }