@import './styles/layout.css';
@import './styles/common.css';
@import './styles/profile.css';
@import './styles/language.css';
@import './styles/payments.css';
@import './styles/studentMentor.css';
@import './styles/reviews.css';

